.lineChart {
  &.darkChart {
    svg {
      overflow: visible;
      g {
        .line {
          stroke: #fff;
        }
        .axis {
          color: #d1d5db;
          :global(text) {
            color: #fff;
          }
        }
      }
      .text {
        color: #fff;
      }
      .meanLine {
        stroke: #dbeafe;
      }
      .timeLine {
        stroke: #fb923c;
      }
    }
  }
  svg {
    g {
      .line {
        fill: none;
        stroke: #000;
      }
      .axis {
        color: #ccc;
        :global(text) {
          color: #000;
        }
      }
    }
    .text {
      color: #000;
    }
    .meanLine {
      stroke: #60a5fa;
    }
    .timeLine {
      stroke: #fb923c;
    }
  }
}
