@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.modal-open {
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }

  #preact_root {
    min-height: 100%;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  button {
    @apply py-1 px-2 text-lg;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.primary {
      @apply bg-highlight-600 text-white font-bold;
    }
    &.secondary {
      @apply bg-gray-600 text-white;
    }
    &.hollow {
      @apply bg-transparent border-primary-700 text-primary-700 dark:border-primary-200 dark:text-primary-200;
    }
    &.link {
      @apply bg-transparent border-none text-primary-700  dark:text-primary-200;
    }
    &.warning {
      @apply bg-red-900 text-white;
    }
  }

  .card {
    @apply bg-gray-100 text-primary-800 dark:bg-primary-900 dark:text-primary-100 rounded-md border border-gray-400 dark:border-gray-700;
  }
  // not the same as card above
  .card-header {
    @apply bg-gray-2 p-2 text-lg font-bold rounded-t-md border border-b-0 border-gray-400 dark:border-gray-700;
  }

  .card-body {
    @apply bg-gray-1 rounded-b-md border border-t-0 border-gray-400 dark:border-gray-700;
  }

  input,
  select {
    @apply bg-transparent border border-primary-700 dark:border-primary-200;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 48px;
  }

  .bg-1 {
    @apply bg-white text-primary-900 dark:bg-black dark:text-white;
  }

  .bg-2 {
    @apply bg-primary-100 text-primary-800 dark:bg-primary-900 dark:text-primary-100;
  }

  .bg-gray-1 {
    @apply bg-gray-300 dark:bg-gray-900 text-gray-900 dark:text-gray-200;
  }
  .bg-gray-2 {
    @apply bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100;
  }
}
