@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-primary-900 bg-primary-50;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.modal-open {
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }

  #app,
  #preact_root {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  button {
    @apply py-1 px-2 text-lg text-primary-900;

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.primary {
      @apply bg-blue-900 text-white;
    }
    &.secondary {
      @apply bg-gray-300 text-gray-900;
    }
    &.warning {
      @apply bg-red-900 text-white;
    }
  }

  input,
  select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 48px;
    background-color: #fff;
  }
  a {
    @apply text-primary-600 underline;
  }
}
