.lineChart {
  &.darkChart {
    svg {
      g {
        .line {
          stroke: #fff;
        }
        .axis {
          color: #ccc;
          :global(text) {
            color: #fff;
          }
        }
      }
      .text {
        color: #fff;
      }
    }
  }
  svg {
    g {
      .line {
        fill: none;
        stroke: #000;
      }
      .axis {
        color: #ccc;
        :global(text) {
          color: #000;
        }
      }
    }
    .text {
      color: #000;
    }
  }
}
